/*FRAME AROUND PAGE*/

#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		z-index: 999;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		z-index: 999;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

/*BG COLORS*/

body {

    -moz-animation-name: myfirst;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
      /* Chrome, Safari, Opera */
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    -ms-animation-name: myfirst;
    -ms-animation-duration: 20s;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-play-state: running;

    /* Standard syntax */
    animation-name: myfirst;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}


@-moz-keyframes myfirst {
    0%   {background: #FA1239;}
    25%  {background: #F51714;}
    50%  {background: #F52211;}
    75%  {background: #F53111;}
    100% {background: #FA4012;}
}

@-webkit-keyframes myfirst {
    0%   {background: #FA1239;}
    25%  {background: #F51714;}
    50%  {background: #F52211;}
    75%  {background: #F53111;}
    100% {background: #FA4012;}
}

@-o-keyframes myfirst {
    0%   {background: #FA1239;}
    25%  {background: #F51714;}
    50%  {background: #F52211;}
    75%  {background: #F53111;}
    100% {background: #FA4012;}
}

@-ms-keyframes myfirst {
    0%   {background: #FA1239;}
    25%  {background: #F51714;}
    50%  {background: #F52211;}
    75%  {background: #F53111;}
    100% {background: #FA4012;}
    overflow: hidden;
}

/*BUTTONS*/



/*TOP LEFT*/
#blt {
	position: fixed;
	display: block;
	left: 20px;
	top: 20px;
	width: 75px;
	height: 75px;
	z-index: 99;
}

#circlelt {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 80px;
	height: 80px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	z-index: 5;
	-moz-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	animation-name: TOPLEFT;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/*@-moz-keyframes TOPLEFT {
    0%   {background: #CCFA00;}
    25%  {background: #E3F500;}
    50%  {background: #F5F200;}
    75%  {background: #F5EA00;}
    100% {background: #F0DE00;}
}*/


#lt1, #lt2, #lt3 {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: -5;
	width: 0%;
	height: 0%;
	opacity: 0;
	transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
}

#blt:hover #circlelt {
	width: 70px;
	height: 70px;

}

#blt:hover #lt1 {
	position: absolute;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	left: 75px;
	
}

#blt:hover #lt2 {
	position: absolute;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	left: 61px;
	top: 61px;
	
}

#blt:hover #lt3 {
	position: absolute;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	top: 73px;
	opacity: 1;
	
}


/*BOTTOM LEFT*/
#blb {
	position: fixed;
	display: block;
	left: 20px;
	bottom: 20px;
	width: 75px;
	height: 75px;
	z-index: 99;
}

#circlelb {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 80px;
	height: 80px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	z-index: 5;
	-moz-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	animation-name: TOPLEFT;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/*@-moz-keyframes TOPLEFT {
    0%   {background: #CCFA00;}
    25%  {background: #E3F500;}
    50%  {background: #F5F200;}
    75%  {background: #F5EA00;}
    100% {background: #F0DE00;}
}*/

#blb:hover #circlelb {
	width: 70px;
	height: 70px;

}

#lb1, #lb2, #lb3 {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	z-index: -5;
	width: 0%;
	height: 0%;
	opacity: 0;
	transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
}



#blb:hover #lb1 {
	position: absolute;
	left: 0;
	bottom: 73px;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

#blb:hover #lb2 {
	position: absolute;
	left: 61px;
	bottom: 61px;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

#blb:hover #lb3 {
	position: absolute;
	left: 73px;
	bottom: 0;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

/*BOTTOM RIGHT*/


#brb {
	position: fixed;
	display: block;
	right: 20px;
	bottom: 20px;
	width: 75px;
	height: 75px;
	z-index: 99;
}

#circlerb {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: 80px;
	height: 80px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	z-index: 5;
	-moz-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	animation-name: TOPLEFT;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/*@-moz-keyframes TOPLEFT {
    0%   {background: #CCFA00;}
    25%  {background: #E3F500;}
    50%  {background: #F5F200;}
    75%  {background: #F5EA00;}
    100% {background: #F0DE00;}
}*/

#brb:hover #circlerb {
	width: 70px;
	height: 70px;

}

#rb1 {

	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
			-moz-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	animation-name: brb;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}

#rb2 {

	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
			-moz-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	animation-name: brb;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}

#rb3 {

	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
			-moz-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	animation-name: brb;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}

#rb1, #rb2, #rb3 {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	z-index: -5;
	width: 0%;
	height: 0%;
	opacity: 0;
	transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;

}



#brb:hover #rb1 {
	position: absolute;
	right: 0;
	bottom: 73px;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

#brb:hover #rb2 {
	position: absolute;
	right: 61px;
	bottom: 61px;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

#brb:hover #rb3 {
	position: absolute;
	right: 73px;
	bottom: 0;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

/*TOP RIGHT*/


#brt {
	position: fixed;
	display: block;
	right: 20px;
	top: 20px;
	width: 75px;
	height: 75px;
	z-index: 99;
}

#circlert {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 80px;
	height: 80px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	z-index: 5;
	-moz-transition: 0.4s ease;
-webkit-transition: 0.4s ease;
-ms-transition: 0.4s ease;
-o-transition: 0.4s ease;
	animation-name: TOPLEFT;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/*@-moz-keyframes TOPLEFT {
    0%   {background: #CCFA00;}
    25%  {background: #E3F500;}
    50%  {background: #F5F200;}
    75%  {background: #F5EA00;}
    100% {background: #F0DE00;}
}*/

#brt:hover #circlert {
	width: 70px;
	height: 70px;

}

#rt1, #rt2, #rt3 {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	z-index: -5;
	width: 0%;
	height: 0%;
	opacity: 0;
	transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
}



#brt:hover #rt1 {
	position: absolute;
	right: 0;
	top: 73px;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

#brt:hover #rt2 {
	position: absolute;
	right: 61px;
	top: 61px;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

#brt:hover #rt3 {
	position: absolute;
	right: 73px;
	top: 0;
	display: block;
	z-index: -5;
	width: 45%;
	height: 45%;
	opacity: 1;
	
}

@media (max-width: 560px), (max-height: 410px) {

#circlelt, #circlelb, #circlerb, #circlert, #brt, #blt, #blb, #brb {

	display: none;

}
}


@-moz-keyframes TOPLEFT {
    0%   {background: #CCFA00;}
    25%  {background: #E3F500;}
    50%  {background: #F5F200;}
    75%  {background: #F5EA00;}
    100% {background: #F0DE00;}
}

@-webkit-keyframes TOPLEFT {
    0%   {background: #CCFA00;}
    25%  {background: #E3F500;}
    50%  {background: #F5F200;}
    75%  {background: #F5EA00;}
    100% {background: #F0DE00;}
}

@-o-keyframes TOPLEFT {
    0%   {background: #CCFA00;}
    25%  {background: #E3F500;}
    50%  {background: #F5F200;}
    75%  {background: #F5EA00;}
    100% {background: #F0DE00;}
}

@-ms-keyframes TOPLEFT {
    0%   {background: #CCFA00;}
    25%  {background: #E3F500;}
    50%  {background: #F5F200;}
    75%  {background: #F5EA00;}
    100% {background: #F0DE00;}
}


@-moz-keyframes brb {
    0%   {background: #F0DE00;}
    25%  {background: #F5EA00;}
    50%  {background: #F5F200;}
    75%  {background: #E3F500;}
    100% {background: #CCFA00;}
}

@-webkit-keyframes brb {
    0%   {background: #F0DE00;}
    25%  {background: #F5EA00;}
    50%  {background: #F5F200;}
    75%  {background: #E3F500;}
    100% {background: #CCFA00;}
}

@-o-keyframes brb {
    0%   {background: #F0DE00;}
    25%  {background: #F5EA00;}
    50%  {background: #F5F200;}
    75%  {background: #E3F500;}
    100% {background: #CCFA00;}
}

@-ms-keyframes brb {
    0%   {background: #F0DE00;}
    25%  {background: #F5EA00;}
    50%  {background: #F5F200;}
    75%  {background: #E3F500;}
    100% {background: #CCFA00;}
}

@supports (-ms-accelerator:true) {
/*стили для эджа*/
 #lt1 {
  	background-image: url(../icons/vk.png);
  }

  #lt2 {
  	background-image: url(../icons/gmail.png);
  }
  #lt3 {
  	background-image: url(../icons/telegram.png);
  }

  #lb1 {
  	background-image: url(../icons/skype.png);
  }

  #lb2 {
  	background-image: url(../icons/phone.png);
  }

  #lb3 {
  	background-image: url(../icons/insta.png);
  }

  #rt3 {
  	
  	background-image: url(../icons/vimeo.png);
  }

    #rt2 {
  	
  	background-image: url(../icons/behance.png);
  }

    #rt1 {
  	
  	background-image: url(../icons/dribbble.png);
  }


  #rb1 {
  	background-image: url(../icons/about.png);
  	
  }
   #rb2 {
  	background-image: url(../icons/brief.png);
  	
  }

   #rb3 {
  	background-image: url(../icons/works.png);
  	
  }

 
}